<!--<h2>Cuisines</h2>
<ul>
	<li *ngFor="let c of cuisines | async">{{ c.$key + '-' +c.$value }}</li>
</ul>
<h2>Restaurants</h2>
<ul>
  <li *ngFor="let r of restaurants | async">{{ r.name }}

  <ul>
    <li *ngFor="let f of r.featureTypes">
      {{ (f | async)?.$value}}
    </li>
  </ul></li>
</ul>-->
<!--<h1>Hello {{ displayName }}</h1>
<img *ngIf="photoUrl" src="{{photoUrl}}">-->
<button (click)="register()">Register</button>
<button (click)="login()">Login</button>
<button (click)="logout()">Logout</button>
<div>{{error}}</div>
