<!--<h2>Cuisines</h2>
<ul>
	<li *ngFor="let c of cuisines | async">{{ c.$key + '-' +c.$value }}</li>
</ul>
<h2>Restaurants</h2>
<ul>
  <li *ngFor="let r of restaurants | async">{{ r.name }}

  <ul>
    <li *ngFor="let f of r.featureTypes">
      {{ (f | async)?.$value}}
    </li>
  </ul></li>
</ul>-->
<!--<h1>Hello {{ displayName }}</h1>
<img *ngIf="photoUrl" src="{{photoUrl}}">-->
<!--<button (click)="register()">Register</button>-->
<app-header></app-header>
<!-- <p>Counter : {{counter | async}}</p>
<alert type="success">hello</alert> -->
<router-outlet></router-outlet>
<!-- <button (click)="increment()" >Increment</button>
<button (click)="checkMiddleApiCall()">Check API Call</button>
<button (click)="getReq()">Get Req</button>
<button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button>
<button md-raised-button md-tooltip="This is a tooltip!">RAISED</button>
<md-card>
      <md-icon>build</md-icon>
    </md-card>
<button md-raised-button color="accent">ACCENT RAISED</button>
<md-card>
      <md-checkbox>Unchecked</md-checkbox>
      <md-checkbox [checked]="true">Checked</md-checkbox>
      <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
      <md-checkbox [disabled]="true">Disabled</md-checkbox>
    </md-card> -->
<!--<button *ngIf="!auth.isAuthenticated()" (click)="auth.login()">Login</button>
<button *ngIf="auth.isAuthenticated()" (click)="auth.logout()">Logout</button>-->
<!--<button *ngIf="auth.isAuthenticated()" (click)="showProfile()">Show Profile</button>
<button *ngIf="auth.isAuthenticated()" (click)="updateProfile()">Update Profile</button>
<button *ngIf="auth.isAuthenticated()" (click)="callApi()">Call API</button>-->
<!--<button (click)="logout()">Logout</button>-->
<div>{{error}}</div>
